<!DOCTYPE html>
<html>
  <head>
    <title>Splurty</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="row">
     
      
      <div class="col-3">
        
       <div class="circle">
         
        <br />
        It's time
        <br />
        to crack
        <br />
        the code!
        
      </div>
     
      
      <div class="col-4 slogan">
        Blurting and splurting out unsolicited bits of wisdom since 2017.
      </div>
        
      <div class="col-5 links">
        <%= link_to 'Contribute', '#' %>
        <%= link_to 'About', '#' %>
        <%= link_to 'Contact', '#' %>
         
      </div> 
      
    </header>
    
    </hr>
    
    <br class="clear"/>
    
    <div class="container">
       <%= yield %>
    </div>

   
  </body>
</html>
